<mat-card style="margin:50px">
  <mat-card-content>
    <div class="example-container" style="text-align: center">
      <mat-form-field>
        <input matInput [(ngModel)]="needing.firstname"   placeholder="اسم الحاجة" style="text-align: right" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput   [(ngModel)]="needing.lastname" placeholder="اسم المتبرع" style="text-align: right" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput   [(ngModel)]="needing.address" placeholder="عنوان السكن" style="text-align: right" required>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput  [(ngModel)]="needing.infor" placeholder="تفاصيل الحاجه" style="text-align: right" required></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput   [(ngModel)]="needing.phone" placeholder="رقم الهاتف" style="text-align: right" required>
      </mat-form-field>
    </div>
  <div style="text-align: center">
    <button type="submit" [disabled]="!needing.firstname || !needing.lastname || !needing.address || !needing.infor || !needing.phone" mat-button color="primary" style="align-self: flex-end" (click)="save()"> Update </button>
  </div>
  </mat-card-content>

</mat-card>
