<!--Header-part-->

<mat-toolbar color="primary">
  <span>اهل الخير</span>
  <!-- This fills the remaining space of the current row -->

  <div fxFlex fxLayout style="margin-right: 15px">

  <ul fxLayout fxLayoutGap="30px" class="navigation-items">

     <li><a [routerLink]="['/needing']" routerLinkActive="router-link-active"> حاجات متبرع بها </a></li>

     <li><a [routerLink]="['/feedback']" routerLinkActive="router-link-active"> التعليقات </a></li>

      <li><a [routerLink]="['/humancase']" routerLinkActive="router-link-active"> حالات انسانيه</a></li>

    </ul>

    <ul fxLayout fxLayoutGap="30px" style="margin-right: 840px" class="navigation-items">
      <li><a [routerLink]="['/login']" routerLinkActive="router-link-active"> تسجيل دخول </a></li>

    </ul>

  </div>

</mat-toolbar>
<!--sidebar-menu-->

  <router-outlet></router-outlet>




<!--end-Footer-part-->
