<mat-card style="margin:50px">

    <table class="table table-striped">
        <thead class="thead">
          <tr>
            <th><h3>الاسم</h3></th>
            <th><h3>العنوان</h3></th>
            <th scope="col"><h3> عنوان السكن </h3> </th>
            <th scope="col"><h3> رقم الهاتف  </h3></th>
            <th scope="col"><h3> تفاصيل </h3></th>
            <th scope="col"><h3> Action </h3></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of newsList   | async json">
            <td>{{item.lastname}}</td>
            <td>{{item.firstname}}</td>
            <td> {{item.address}}</td>
            <td>{{item.phone}} </td>
            <td text-wrap>{{item.infor}} </td>
            <td> <button mat-button color="accent" value="delete" (click)="del(item.key)"> delete </button> 
              &nbsp;&nbsp; 
              <button mat-button color="primary" value="update" (click)="up(item)"> Add </button>
               &nbsp;&nbsp; 
              <button mat-button color="primary" value="update" (click)="edit(item)"> edit </button>
            </td>
          </tr>
        </tbody>
      </table>    
</mat-card>